
    <footer class="footer-16371 bg-light" style="position: sticky;left: 0;top: 0;">
        <div class="container">
          <div class="d-flex row justify-content-center" style="
          flex-direction: row;
          flex-wrap: wrap;
          justify-content: space-evenly;
          align-items: baseline;">
            <div class="col-md-4 text-center">
              <div class="footer-site-logo">
                <a class="border-0" href="#">Lethal DFIR</a>
              </div>
              </div>
              <div class="col-md-4 text-center">
                <ul class="list-unstyled nav-links">
                <li><a class="border-0" href="/">Home</a></li>
                <li><a class="border-0" href="/docs">Docs</a></li>
                <li><a class="border-0" href="/forensic">Forensics</a></li>
                <li><a class="border-0" href="#">Contact</a></li>
              </ul>
              </div>
            <div class="col-md-4 text-center">
              <div class="social d-flex" style="
              flex-direction: row;
              flex-wrap: wrap;
              justify-content: space-evenly;
              align-items: baseline;">
                <h3>Stay in touch</h3>
                <ul class="list-unstyled">
                  <li class="in"><a class="border-0" href="#1"><span class="icon-linkedin"></span></a></li>
                  <li class="fb"><a class="border-0" href="#2"><span class="icon-facebook"></span></a></li>
                  <li class="tw"><a class="border-0" href="#3"><span class="icon-twitter"></span></a></li>
                  <li class="re"><a class="border-0" href="#4"><span class="fab fa-reddit-alien"></span></a></li>
                </ul>
              </div>
            </div>

            </div>
            <div class="copyright text-center">
              <p><small>&copy; Lethal DFIR. All Rights Reserved.</small></p>
            </div>
                    </div>
        </div>
      </footer>