<div class="postcard" style="width: {{ include.content }};">
    <a class="blog-link" href="{{ site.baseurl }}{{ post.url }}"></a>
    <div class="postcard-header header-inline">
        {% assign author = site.data.authors[post.author] %}
        <div class="postcard-img">
            {% if author.pic %}
            <img class="img-border-circle avatar" src=" {{ author.pic }} " alt="Ven" />
            {%else%}
        {% assign min = 0 %}
        {% assign max = 500 %}
        {% assign diff = max | minus: min %}
        {% assign random = "now" | date: "%N" | modulo: diff | plus: min %}
        {% assign colors = 'red|green|blue|yellow|orange' | split: '|' %}
        {% assign randval = random | slice:0 | to_integer %}
            <span class="dot {{ colors[randval] }}-grad-img"></span>
            {%endif%}
        </div>
        <div class="postcard-title">
            
    {% assign postdate = post.date | date_to_string %}
    {% assign year = postdate | split: ' ' %}
            <h2 class="ca-title">{{ post.title }}</h2>
            <p class="dates">{{ year[1] }} {{ year[0] }}, {{ year[2] }}</p>
        </div>
    </div>
    <!-- <div class="tags">
        <span class="tag-item">#some</span>
        {% for cato in post.categories %}
        <a class="badge bg-warning text-dark text-decoration-none text-capitalize"
          style="font-size: small;margin-right: 6px;" href="{{site.baseurl}}/categories#{{ cato | replace: " "," -"
          }}">{{ cato }}</a>
        {% endfor %}
    </div> -->
    <div class="postcard-desc">
        <p>{{ post.excerpt }}   
       <!-- {% assign colors = ["red","green","blue","yellow","orange"] %} --></p> 
    </div>
    <div class="card-foot">
        <span class="foot-link">
            Read more →
        </span>
    </div>
</div>