---
layout: original
title: "Categories"
permalink: "/categories.html"
---
<style>
    /*the container must be positioned relative:*/
    .custom-select {
      position: relative;
      font-family: Arial;
    }
    
    .custom-select select {
      display: none; /*hide original SELECT element:*/
    }
    
    .select-selected {
      background-color: DodgerBlue;
    }
    
    /*style the arrow inside the select element:*/
    .select-selected:after {
      position: absolute;
      content: "";
      top: 14px;
      right: 10px;
      width: 0;
      height: 0;
      border: 6px solid transparent;
      border-color: #fff transparent transparent transparent;
    }
    
    /*point the arrow upwards when the select box is open (active):*/
    .select-selected.select-arrow-active:after {
      border-color: transparent transparent #fff transparent;
      top: 7px;
    }
    
    /*style the items (options), including the selected item:*/
    .select-items div,.select-selected {
      color: #ffffff;
      padding: 8px 16px;
      border: 1px solid transparent;
      border-color: transparent transparent rgba(0, 0, 0, 0.1) transparent;
      cursor: pointer;
      user-select: none;
    }
    
    /*style items (options):*/
    .select-items {
      position: absolute;
      background-color: DodgerBlue;
      top: 100%;
      left: 0;
      right: 0;
      z-index: 99;
    }
    
    /*hide the items when the select box is closed:*/
    .select-hide {
      display: none;
    }
    
    .select-items div:hover, .same-as-selected {
      background-color: rgba(0, 0, 0, 0.1);
    }
    </style>
    <div class="custom-select" style="position: fixed;z-index: 1010;width:200px;">
<select id="catogeryselect">
    <option value="">catogery</option>
    {% for category in site.categories %}
        <option value="{{category[0]}}">{{category[0]}}</option>
    {% endfor %}
</select>
    </div>
{% for category in site.categories %}
<h2 class="d-flex mt-5 mb-3 justify-content-center" id="{{ category[0] | replace: " "," -" }}">
    <span class="text-capitalize badge bg-warning text-black">{{ category[0] }}</span>
</h2>
<div class="allposts">
    <article class="singlepost">
        <div class="d-flex container justify-content-center align-items-center flex-wrap">
            {% assign pages_list = category[1] %}
            {% for post in pages_list %}
            {% if post.title != null %}
            {% if group == null or group == post.group %}
            {% include longcard.html content="25%" %}
            {% endif %}
            {% endif %}
            {% endfor %}
            {% assign pages_list = nil %}
            {% assign group = nil %}
        </div>
        </article>
</div>
{% endfor %}